#header{
	height: 50px;
	border: solid 3px;

	text-align: center;
	font-size: 40px;
	font-family: "Courier New", Courier, monospace;	
}

fieldset{
	float: left;
	font-family: "Courier New", Courier, monospace;
}

h1{
	font-family: "Courier New", Courier, monospace;
}

p{
	font-family: "Courier New", Courier, monospace;
}

canvas
{
	border: solid 1px;
}