@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

body{
	margin: 0;
	padding: 0;
	background-color: #2c3e50;
}

a{
	text-decoration: none;
	color: #ecf0f1;
}

#header{
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0;
	z-index: 100;
	padding-top: 10px;
	background-color: #e74c3c;
	text-align: center;
	font-size: 2.25em;
	color: #ecf0f1;
	font-family: "Press Start 2P", Courier;	
}

#intro{
	margin-top: 65px;
}

.info{
	color: #ecf0f1;
}

#infoValues
{
	border-radius: 10px;
	background-color: #e74c3c;
	margin-top: 10px;
	margin-left: 50px;
	padding-left: 20px;
	padding-bottom: 20px;
	width: 30%;
	float: left;
	font-size: 1.5em;
	height: 600px;
}
#walletDiv
{
	margin-top: 25px;
	margin-bottom: 50px;
	text-align: center;
	font-family: "Press Start 2P", Courier;	
}
#minerDiv
{
	margin-bottom: 50px;
	text-align: center;
	font-family: "Press Start 2P", Courier;	
}

#sellerDiv
{
	margin-bottom: 50px;
	text-align: center;
	font-family: "Press Start 2P", Courier;	
}

#market{
	margin-top: 50px;
	margin-bottom: 100px;
	margin-left: 50px;
	padding-top: 25px;
	padding-bottom: 50px;
	width: 50%;
	height: 575px;
	float: left;
	text-align: center;
	border-radius: 10px;
	background-color: #e74c3c;
}
#marketDiv
{
	width: 100%;
	margin-bottom: 0;
	text-align: center;
	font-size: 2.25em;
	font-family: "Press Start 2P", Courier;	
}

#sellVal{
}
#graphCanvas
{
	margin-top: 25px;
	width: 90%;
	margin-right: 10px;
	background-color: white;
	border: solid 1px;
	border-radius: 10px;
}

#playerStats{
	float: left;
	width: 30%;
	height: 220px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	margin-top: 50px;
	margin-left: 50px;
	background-color: #e74c3c; 
	border-radius: 10px;
	font-size: 1.5em;
	font-family: "Press Start 2P", Courier;	
}

#upgrades{
	background-color: #e74c3c;
	border-radius: 10px;
	float: left;
	width: 50%;
	height: 575px;
	margin-top: 10px;
	margin-left: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 1em;
	font-family: "Press Start 2P", Courier;	
	text-align: center;
}

.upgradeCSS
{
	color: #ecf0f1;
}
#minerCSS{
	margin-bottom:20px;
}

#marketCSS{
	margin-bottom: 20px;
}

#statCSS{
	margin-bottom: 20px;
}

#aSCSS{
	margin-bottom: 20px;
}
fieldset{
	width: 45%;
	height: 150px;
	float: left;
	font-family: "Courier New", Courier, monospace;
}

.buttonCSS {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#2c3e50;
	font-family:Courier New;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:90px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.buttonCSS:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.buttonCSS:active {
	position:relative;
	top:1px;
}

select {
	margin-top: 25px;
	margin-bottom: 25px;
    background: #FFF url('down_arrow.png') no-repeat right;
    background: #FFF url('down_arrow.png') no-repeat right);
	background-color: #2c3e50;
	font-family: "Press Start 2P", Courier;	
	color: #ecf0f1;
	text-align: center;
	border: none;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 72%;
    height: 30px;
}

.textBox{
	width: 50%;
	margin-top: 20px;
	border: none;
	font-family: "Press Start 2P", Courier;	
	background-color: #2c3e50;
	color: #ecf0f1;
	text-align: center;
	width: 72%;
    height: 30px;
}

#footer
{
	float: left;
	font-family: "Press Start 2P", Courier;	
	padding-top: 20px;
	height: 40px;
	color: #ecf0f1;
	width: 100%;
	background-color: #e74c3c;
}

#humans
{
	float: left;
	margin-left: 50px;
}

#document{
	float: left;
	margin-left: 50px;
}

#github{
	float: left;
	margin-left: 50px;
}

#docList{
	margin-top: 100px;
	color: #ecf0f1;
	font-size: 30px;
	font-family: "Press Start 2P", Courier;	
}

li{
	margin-top: 20px;
}

h1{
	color: #ecf0f1;
	font-size: 1.6em;
	margin-top: 0px;
}
