@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

#header{
	height: 50px;

	text-align: center;
	font-size: 40px;
	font-family: "Press Start 2P", Courier;	
}

fieldset{
	width: 45%;
	height: 150px;
	float: left;
	font-family: "Courier New", Courier, monospace;
}

h1{
	font-family: "Courier New", Courier, monospace;
}

p{
	font-family: "Courier New", Courier, monospace;
}

td{
	width: 70px;
}

canvas
{
	border: solid 1px;
}